@import '../global.scss';

#logo{
    width:150px;
    padding:20px 0;
}
.navigation{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;

    a{
        margin:0 5%;
        text-decoration: none;
        color: $text_color;
        font-weight: bold;
        transition: all 0.2s;

        &:hover{
            color:red;
            transition: all 0.2s;
        }
        &.active{
            color:red;
        }
    }
}
